body {
    background-image: url(api_project_background.avif);
    background-size: cover;
}

.btn {
    height: 50px;
}

section {
    padding-top: 10px;
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: whitesmoke;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid whitesmoke;
    box-shadow: 0 1px 0 0 whitesmoke;
}